
# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Flask
instance/

# Environment Variables
.env

# Uploaded Images
static/uploads/*
!static/uploads/.gitkeep

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# AI Datasets
*.csv

# Trained Models
*.pkl

# SQLite Databases
*.db
*.sqlite3