{% extends "base.html" %}

{% block title %}
add_item
{% endblock %}

{% block content %}
   <body>

    <h1>Add Item</h1>

    <form method="POST">

        <label>Title</label>
        <input type="text" name="title">

        <br><br>

        <label>Description</label>
        <textarea name="description"></textarea>

        <br><br>

        <label>Price</label>
        <input type="number" name="price">

        <br><br>

        <select
        name="category"
        class="form-select"
        required>

        <option value="">
        Select Category
        </option>

        {% for category in categories %}

        <option value="{{ category }}">
            {{ category }}
        </option>

       {% endfor %}

        </select>

        <br><br>

        <button type="submit">Add Item</button>

    </form>

</body>

{% endblock %}
