{% extends "base.html" %}

{% block title %}
edit_item
{% endblock %}

{% block content %}
   <body>

    <h1>Edit Item</h1>

    <form method="POST" enctype="multipart/form-data">

        <input
            type="text"
            name="title"
            value="{{ item.title }}"
        >

        <br><br>

        <textarea
            name="description"
        >{{ item.description }}</textarea>

        <br><br>

        <input
            type="number"
            name="price"
            value="{{ item.price }}"
        >

        <br><br>

        <select
        name="category"
       class="form-select"
       required>

       {% for category in categories %}

        <option
            value="{{ category }}"
            {% if item.category == category %}
            selected
            {% endif %}>

            {{ category }}

        </option>

    {% endfor %}

     </select>

        <br><br>

       {% if item.image %}
    <div class="mb-3">

    <label class="form-label">Current Image</label>

    <br>

    <img
        src="{{ url_for('static', filename='uploads/' + item.image) }}"
        class="img-thumbnail"
        width="250">

   </div>
   {% endif %}

        <button type="submit">
            Save Changes
        </button>

    </form>

</body>

{% endblock %}
