{% extends "base.html" %}

{% block title %}
College Marketplace
{% endblock %}

{% block content %}
   <body>

    <h1>College Marketplace</h1>
      <div class="container mt-4">

    <div class="row">

        {% for item in items %}

        <div class="col-md-4 mb-4">

            <div class="card h-100 shadow-sm">

                {% if item.image %}

                <img
                    src="{{ url_for('static', filename='uploads/' + item.image) }}"
                    class="card-img-top"
                    style="height:250px; object-fit:cover;">

                {% endif %}

                <div class="card-body">

                    <span class="badge bg-primary">
                        {{ item.category }}
                    </span>

                    <h4 class="mt-2">
                        {{ item.title }}
                    </h4>

                    <h5 class="text-success">
                        ₹{{ item.price }}
                    </h5>

                    <p class="text-muted">

                        {{ item.owner.college }}

                    </p>

                </div>

                <div class="card-footer bg-white">

                    <a
                        href="/item/{{ item.id }}"
                        class="btn btn-dark w-100">

                        View Details

                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>


</body>

{% endblock %}
