{% extends "base.html" %}
  
{% block title %}
   {{ item.title }}
{% endblock %}

{% block content %}
    <body>

   

    {% if item.image %}

   <img
    src="{{ url_for('static', filename='uploads/' + item.image) }}"
    class="img-fluid rounded shadow"
    style="max-height: 400px; width: 100%; object-fit: cover;"
    alt="{{ item.name }}">

   {% else %}

   <p>No Image Available</p>

   {% endif %}

    <h1>{{ item.title }}</h1>
    <p>Seller: {{ item.owner.username }}</p>

    <p>College: {{ item.owner.college }}</p>

    <p>Description: {{ item.description }}</p>

    <p>Price: ₹{{ item.price }}</p>

    <p>Category: {{ item.category }}</p>

    <a href="/items">Back to Items</a>

     <br><br>

    <a href="/edit/{{ item.id }}">
    Edit Item
    </a>

    <br><br>

    <a href="/delete/{{ item.id }}">
    Delete Item
    </a>

</body>

{% endblock %}
